
.resume {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows:  1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: space-around;
}

.name {
	background-color: green;
}